footer {
  background-color: #cee1f2;
}
.footer-logo {
  width: 150px;
}
.footer-link {
  list-style: none;
  display: inline;
}
.company-list {
  text-decoration: none;
  color: gray;
}
.company-list:hover {
  color: hotpink;
}
