.form-submit {
  max-width: 500px;
  margin: 0 auto;
}

.form-header {
  /* font-weight: 100; */
  display: inline-block;
  margin: auto;
  padding-bottom: 5px;
  margin-top: 20px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form-submit p {
  color: #bf1650;
}

.form-submit p::before {
  display: inline;
  content: "⚠ ";
}

.form-submit input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-submit label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: #080707;
  font-size: 14px;
  font-weight: 500;
}

button[type="submit"],
.form-submit input[type="submit"] {
  background: #5c68ab;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  outline: none;
}

button[type="submit"]:hover,
.form-submit input[type="submit"]:hover {
  background: #7e88c0;
}

.login-btn {
  display: flex;
  width: 320px;
  border-radius: 50px;
  border: 0.5px solid gray;
  outline: none;
  margin: auto;
}
.login-btn img {
  width: 30px;
}
.login-title {
  margin: auto;
  font-weight: 500;
}

.toggle-signIn {
  text-decoration: underline;
  color: #0d9ee0;
  font-size: 16px;
  cursor: pointer;
}
.login-page {
  background-color: #c5caee;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
