.music {
  background-image: url("../../assets/images/music-min.jpg");
}
.latest-product {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display: flex;
}
.gaming {
  background-image: url("../../assets//images/gaming-min.jpg");
}
.football {
  background-image: url("../../assets/images/football-min.jpg");
}
.science {
  background-image: url("../../assets/images/science-min.jpg");
}
.supperHero {
  background-image: url("../../assets/images/superhero-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
}
.shows {
  background-image: url("../../assets/images/tv-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
}
